[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]] # カラースキーマ
repo = 'w0ng/vim-hybrid'
hook_add = '''
  set background=dark
  " colorscheme 設定は source 後に行う必要があるので VimEnter で行う。
  " 但し Colorscheme イベントの発生が抑制されないよう nented を付ける。
  au MyAutoCmd VimEnter * nested colorscheme hybrid
'''

[[plugins]] # カーソル位置のコンテキストのftを判定するライブラリ
repo = 'Shougo/context_filetype.vim'

[[plugins]] # カーソル位置のコンテキストに合わせてftを切り替える
repo = 'osyo-manga/vim-precious'
depends = ['context_filetype.vim']

[[plugins]]
repo = 'cohama/lexima.vim'

[[plugins]]
repo = 'kassio/neoterm'
hook_add = '''
let g:neoterm_default_mod = 'vertical belowright'
let g:neoterm_autoinsert = 1
'''

[[plugins]]
repo = 'edkolev/tmuxline.vim'
hook_add = '''
let g:tmuxline_preset = {
  \'a'    : '#S',
  \'win'  : ['#I', '#W'],
  \'cwin' : ['#I', '#W', '#F'],
  \'z'    : ['%Y/%m/%d', '%a', '%R']
  \}
'''

[[plugins]]
repo = 'airblade/vim-gitgutter'

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'junegunn/fzf.vim'
depends = 'fzf'
hook_add = '''
nnoremap <leader>p :FZF<CR>
nnoremap <leader>o :Buffers<CR>
nnoremap <leader>f :Rg<CR>
command! -bang -nargs=* Rg
  \ call fzf#vim#grep(
  \   'rg --column --line-number --no-heading --color=always --smart-case -- '.shellescape(<q-args>), 1,
  \   fzf#vim#with_preview(), <bang>0)
" Example: RgArg -t ts -- <keyword>
"          RgArg -t ts -t html -- ''
command! -bang -nargs=* RgArg
  \ call fzf#vim#grep(
  \   'rg --column --line-number --no-heading --color=always --smart-case '.<q-args>, 1,
  \   fzf#vim#with_preview(), <bang>0)
'''

[[plugins]]
repo = 'junegunn/fzf'
build = './install --all'
merged = 0

[[plugins]]
repo = 'lambdalisue/gina.vim'

[[plugins]]
repo = 'thinca/vim-quickrun'
depends = ['vimproc.vim']
hook_add = '''
nnoremap <leader>q :QuickRun -input =@+<CR>
let g:quickrun_config = {}
let g:quickrun_config._ = {
  \ 'outputter/error/success': 'buffer',
  \ 'outputter/error/error': 'quickfix',
  \ 'outputter/quickfix/open_cmd': 'copen',
  \ 'runner': 'vimproc',
  \ 'runner/vimproc/updatetime': 60,
  \ 'hook/time/enable': 1
  \ }
let g:quickrun_config.cpp = {
  \ 'command': 'g++',
  \ 'cmdopt': '-std=gnu++14',
  \ 'input': 'input',
  \ 'runner': 'system'
  \ }
'''

[[plugins]]
repo = 'Shougo/vimproc.vim'
build = 'make'

[[plugins]]
repo = 'thinca/vim-themis'

[[plugins]]
repo = 'softoika/ngswitcher.vim'
hook_add = '''
nnoremap <leader><S-u> :<C-u>NgSwitchTS<CR>
nnoremap <leader><S-i> :<C-u>NgSwitchCSS<CR>
nnoremap <leader><S-o> :<C-u>NgSwitchHTML<CR>
nnoremap <leader><S-p> :<C-u>NgSwitchSpec<CR>
'''

[[plugins]]
repo = 'tpope/vim-commentary'

# [[plugins]]
# repo = 'sheerun/vim-polyglot'

[[plugins]]
repo = 'alvan/vim-closetag'
hook_add = '''
let g:closetag_filenames='*.html,*.jsx,*.tsx'
let g:closetag_filetypes = 'html,jsx,tsx'
let g:closetag_emptyTags_caseSensitive = 1
let g:closetag_regions = {
    \ 'typescriptreact': 'jsxRegion,tsxRegion',
    \ 'javascriptreact': 'jsxRegion',
    \ }
'''

[[plugins]]
repo = 'rhysd/conflict-marker.vim'

[[plugins]]
repo = 'voldikss/vim-translator'
hook_add = '''
let g:translator_target_lang = 'ja'
'''
